body{
    font-family: Arial;
    background:#eef2f5;
    padding:40px;
}

input{
    padding:10px;
    width:250px;
}

button{
    padding:10px 15px;
    background:black;
    color:white;
    border:none;
}

#output{
    margin-top:20px;
    background:white;
    padding:20px;
    border-radius:6px;
}

.row{
    display:flex;
    justify-content:space-between;
    padding:6px 0;
    border-bottom:1px solid #eee;
}

.key{
    font-weight:bold;
}

.val{
    color:#333;
}
